button {
  background: transparent;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  &:hover {

  }
  &:active {
    outline: none;
  }
  &:focus {
    outline:none;
  }
  &.disable {
    cursor: default;
    pointer-events: none;
  }
}
.button {

  &:active {

  }
  &:focus {

  }
  &:hover {

  }
  &.disable {

  }
  &.correct {

  }
  &.incorrect {

  }
}
