@font-face {
	font-family: 'DIN Next LT Pro Black Cond';
	src: url('../fonts/DINNextLTPro-BlackCondensed.eot');
	src: url('../fonts/DINNextLTPro-BlackCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-BlackCondensed.woff') format('woff'),
		url('../fonts/DINNextLTPro-BlackCondensed.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Next LT Pro Med Cond';
	src: url('../fonts/DINNextLTPro-MediumCond.eot');
	src: url('../fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-MediumCond.woff') format('woff'),
		url('../fonts/DINNextLTPro-MediumCond.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Next LT Pro Reg';
	src: url('../fonts/DINNextLTPro-Regular.eot');
	src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
		url('../fonts/DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Jenna Sue';
	src: url('../fonts/JennaSue.eot');
	src: url('../fonts/JennaSue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JennaSue.woff') format('woff'),
		url('../fonts/JennaSue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
